.jumbotron-fluid {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(42, 5, 90);
    height: 100px;
    padding: 15px;
    margin-bottom: 5px;

}

body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: 0px;
    margin-bottom: 15px;

  }
  
  form.example button {
    float: left;
    width: 15%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  p.thick {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 0px;
      margin: none;
      font-weight: 900;
      font-size: 14px;
      margin-bottom: 0px;
   
  }
  .list-group {
      width: 240px;

  }
  .list-group-item {
      height: 40px;

  }
  .bkndBoxLeft {
      width: 260px;
      height: 415px;
      background-color: gainsboro;
      display: inline-block;
      padding: 10px;
    
  }

  .bkndBoxRight {
    width: 75%;
    height: 200px;
    border-right: 1px solid rgb(117, 117, 117);
    border-left: 1px solid rgb(117, 117, 117);
    border-bottom: 1px solid rgb(117, 117, 117);
    display: inline-block;
    padding: 15px;
    float: right;
}
.blueBoxes {
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: -15px;
}
h4 {
  font-weight: 500;
}
#currCity {
    font-size: 26px;
    font-weight: 600;
    float: left;
    margin-bottom: 5px;
  }
#currDate {
  font-size: 26px;
  float: left;
  margin-bottom: 5px;
  
}

.stats {
  margin-top: 10px;
  font-size: 12px;
  line-height: 12px;

}
.weekDay {
  background-color: #0b7dda;
  width: 150px;
  height: 120px;
  float: left;
  display: inline-block;
  margin-right: 10px;
}
